@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", "Menlo, Monaco, Consolas", "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .viewContainer {
    @apply container mx-auto max-w-[95%] md:max-w-[85%];
  }

  .btn-primary {
    @apply block text-center py-2 px-8 sm:px-10 bg-colors-primary rounded text-white font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-secondary {
    @apply block text-center py-2 px-10 bg-colors-fifth rounded text-black font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-linePay {
    @apply block text-center py-2 px-10 bg-line-pay rounded text-white font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-red {
    @apply block text-center py-2 px-8 sm:px-10 bg-red-700 rounded text-white font-bold hover:bg-red-700/70 focus:bg-colors-seventh;
  }

  .btn-google {
    @apply flex justify-center py-3 rounded text-gray-700 gap-5;
  }

  .btn-addPayment {
    @apply block text-center py-2 px-8 sm:px-10 border-2 border-colors-primary rounded text-colors-primary font-bold hover:border-white hover:bg-colors-sixth hover:text-white focus:bg-colors-seventh;
  }
  .btn-outline {
    @apply block text-center py-2 px-6 bg-white border border-colors-primary rounded text-colors-primary font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-outline-fifth {
    @apply block text-center py-2 px-6 bg-white border border-colors-fifth rounded font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-outline-linepay {
    @apply block text-center py-2 px-6 bg-white border border-line-pay rounded font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .btn-outline-red {
    @apply block text-center py-2 px-6 bg-white border border-red-700 rounded font-bold hover:bg-colors-sixth focus:bg-colors-seventh;
  }

  .footerLink {
    @apply flex flex-col items-center;
  }

  .footerImg {
    @apply lg:hidden mb-2 lg:mb-0;
  }

  .footerImg-phone {
    @apply mb-2;
  }

  .footerTxt {
    @apply text-xs md:text-base;
  }

  .headerNav-hover {
    @apply hover:border-colors-primary hover:border-b-4 hover:bg-teal-200 hover:text-colors-primary hover:rounded-t hover:duration-300 cursor-pointer;
  }

  .footer-hover {
    @apply hover:text-green-200 hover:duration-300;
  }

  .inputInfo {
    @apply py-2 pl-8 border border-gray-300 rounded w-full;
  }

  .inputImg {
    @apply absolute w-3 top-2  left-2 text-gray-300;
  }

  .labelTitle {
    @apply mb-2 font-bold block;
  }

  .formCard {
    @apply w-full px-[20px] py-20 mt-10 border-4 bg-white border-colors-primary rounded-[20px] md:w-3/4 lg:w-2/3 xl:w-1/2 2xl:w-2/5 sm:px-24;
  }

  .modalCard-bg {
    @apply fixed inset-0 bg-black/70 z-50;
  }

  .modalCard {
    @apply px-8 pt-11 pb-4 rounded-[20px] flex flex-col items-center fixed top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white z-50 w-11/12 sm:w-3/5 lg:w-1/3 xl:w-[30%] card-shadow;
  }

  .modalCard-pay {
    @apply rounded-[20px] flex flex-col items-center fixed top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white z-50 w-11/12 sm:w-3/5 md:w-3/4 card-shadow;
  }

  .modalCard-payTitle {
    @apply w-full rounded-t-[20px] flex justify-center items-center text-xl font-bold p-4 gap-3;
  }

  .modalCard-payForm {
    @apply py-16 px-10 w-full;
  }

  .modalCancel {
    @apply absolute top-[18px] right-[18px] text-gray-500 cursor-pointer;
  }

  .modalTitle {
    @apply font-bold mb-4;
  }

  .modalHint {
    @apply text-xs text-gray-500 text-center mt-4 mb-4;
  }

  .h1-logo {
    display: block;
    background: url("./image/logo.svg") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

  .h1-userlogo {
    display: block;
    background: url("./image/logoSm.svg") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

  .card-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  }

  .btn-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  }

  .line-bilateral {
    flex: 1 1;
    border-bottom: 1px solid rgb(156 163 175);
    margin: auto;
  }

  .group_beforeImg {
    width: 170px;
    height: 433px;
    background: url("./image/group01.svg") no-repeat center/contain;
  }

  .group_afterImg {
    width: 170px;
    height: 476px;
    background: url("./image/group02.svg") no-repeat center/contain;
  }

  /* home */
  .feature-Card {
    @apply px-16 py-10 bg-white rounded-[20px] mb-20 md:mb-0 max-w-full md:max-w-[48%] xl:max-w-[40%] 2xl:max-w-[33%] hover:border-gray-300 hover:border-4 hover:scale-105 hover:duration-300 hover:ease-in-out !important;
  }

  .feature-Card-Img {
    @apply max-w-[80px] lg:max-w-[100px] xl:max-w-[120px] top-[-40px] inset-x-0 lg:inset-x-auto m-auto;
  }

  .feature-Card-Title {
    @apply pb-5 border-b border-gray-300 mb-5 font-bold text-colors-primary text-center lg:text-right mt-4 lg:mt-0;
  }

  .aboutUs-Card {
    @apply px-[84px] py-10 border-4 rounded-[40px] bg-white flex flex-col md:flex-row md:justify-evenly xl:flex-col items-center gap-5 w-full xl:w-[1/3] hover:bg-colors-secondary hover:border-white hover:duration-300 hover:scale-105 hover:ease-in-out !important;
  }

  .topBtn {
    display: block;
    position: fixed;
    background: url("./image/top-g.svg") no-repeat center/contain;
    width: 45px;
    height: 45px;
    bottom: 11%;
    right: 8%;
    cursor: pointer;
    z-index: 10;
  }

  .bannerCarousel01 {
    background: url("./image/Carousel-img01.svg") no-repeat center / cover;
  }

  .bannerCarousel02 {
    background: url("./image/Carousel-img02.svg") no-repeat center / cover;
  }

  .bannerCarousel03 {
    background: url("./image/Carousel-img03.svg") no-repeat center / cover;
  }

  .bannerCarousel04 {
    background: url("./image/Carousel-img04.svg") no-repeat center / cover;
  }

  .bg-circle {
    background-image: url("./image/phone.svg"), url("./image/bgEllipse.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  .loginInputMail {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
  }

  /* SideNav*/
  .sideNavItem {
    /* @apply block w-2/5 lg:w-[30%] lg:mr-10 xl:w-1/4; */
    @apply flex items-center py-4 px-2 text-black text-2xl font-medium hover:text-colors-sixth;
  }
  .sideNavItemIcon {
    @apply mr-4 text-colors-primary w-[24px] hover:text-colors-sixth;
  }

  /* Profile */

  .ProfileSidebars-tab {
    @apply flex items-center gap-[20px];
  }

  .ProfileFitFooter {
    /* min-height: calc(100vh - 231px); */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .ProfileFitFooter-md {
    min-height: calc(100vh - 150px);
  }

  .footer-sm{
    min-height: calc(100vh - 181px);
  }

  .ProfileSideGroup {
    @apply flex items-center gap-4;
  }

  .ProfilePayment-view {
    @apply h-[240px] overflow-y-scroll w-full md:h-auto md:overflow-y-auto;
  }

  .ProfilePayment-item {
    @apply mb-4;
  }

  .ProfilePayment-cashWay {
    @apply py-3 px-10 font-bold flex justify-between bg-colors-fifth;
  }

  .ProfilePayment-bankWay {
    @apply py-3 px-10 font-bold flex justify-between bg-colors-primary text-white;
  }

  .ProfilePayment-linepayWay {
    @apply py-3 px-10 font-bold flex justify-between bg-line-pay text-white;
  }

  .ProfilePayment-edit {
    @apply flex gap-9;
  }

  .ProfilePayment-edit > li {
    @apply cursor-pointer;
  }

  .ProfilePayment-information {
    @apply py-3 px-10 flex flex-col gap-5 md:flex-row;
  }

  .ProfilePayment-information li p:nth-child(1) {
    @apply font-bold;
  }

  .ProfilePayment-wrap {
    @apply md:flex md:flex-col;
  }

  .ProfilePayment-btn {
    @apply w-full py-2 px-8 border-2 border-colors-primary rounded text-colors-primary font-bold bg-white my-5 hover:border-white hover:bg-colors-secondary hover:text-white focus:bg-colors-seventh cursor-pointer md:w-fit md:self-end;
  }

  .ProfilePayment-label {
    @apply flex items-center justify-center gap-3;
  }

  .ProfilePayment-menu {
    @apply w-full flex flex-col items-center bg-white max-h-0 overflow-hidden duration-200 rounded-[20px] cursor-pointer font-bold md:w-fit md:right-0;
  }

  .ProfilePayment-way {
    @apply p-4 flex justify-center w-full gap-2 md:justify-start;
  }

  .ProfilePayment-input:checked ~ .ProfilePayment-menu {
    @apply max-h-[400px];
  }

  .ProfilePaymentModal-wrap {
    @apply md:flex md:justify-between md:gap-[6%];
  }

  .ProfilePaymentModal-textarea {
    height: calc(100% - 28px);
  }

  /* StillMorePage */
  .StillMore-titleArea {
    @apply text-colors-primary font-black;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #fff !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background: #40798c !important;
  border: 1px solid #fff !important;
  opacity: 1 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  max-width: 100% !important;
  color: #888888 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #40798c !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #40798c !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-weight: 700 !important;
  font-size: 16px !important;
}

.css-1x77c5g-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #000 !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.css-lfwcke-MuiTabs-flexContainer {
  gap: 40px;
}

.css-1x77c5g-MuiButtonBase-root-MuiTab-root {
  color: #000 !important;
  padding: 0 !important;
  min-height: 24px !important;
  max-width: 100% !important;
  justify-content: start !important;
}

.css-1x77c5g-MuiButtonBase-root-MuiTab-root:hover {
  color: #70a9a1 !important;
}
.css-1x77c5g-MuiButtonBase-root-MuiTab-root:focus {
  color: #70a9a1 !important;
}

.css-10d9dml-MuiTabs-indicator {
  background-color: #fff !important;
}

.css-jpln7h-MuiTabs-scroller {
  white-space: normal !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 24px 20px 8px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li + li {
  border-top: 1px solid rgba(31, 54, 61, 1) !important;
  padding-top: 16px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
  padding-bottom: 16px !important;
  color: rgb(31, 54, 61) !important;
  font-weight: 700;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 0 !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 20px !important;
}

.btn-addPayment:hover {
  background-color: #6ac1ac !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
